@font-face {
    font-family: 'MinOTFFont'; /* Ange det namn du vill använda för typsnittet */
    src: url('assets/ppneuemontreal-medium.woff') format('woff'); /* Ange sökvägen till din webbfontfil */
    /* Om du har konverterat till WOFF2 kan du använda format('woff2') */
}
/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 { font-family: 'MinOTFFont', sans-serif;}

body { font-family: 'MinOTFFont', sans-serif; }


input[type="color"] {
    appearance: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

/* Specific styling for the color swatch */
input[type="color"]::-moz-color-swatch {
    border: 1px solid black;
    border-radius: 50%;
}

input[type="color"]::-ms-color-swatch {
    border: 1px solid black;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid black;
    border-radius: 50%;
}